## Ignore experiments and demo directory including images and model weights ##

*.png
*.jpg
panoptic-deeplab/tools_d2/experiments/
panoptic-deeplab/tools_d2/pretrained/
data/
warboy/
*.onnx
*.pth
*.out 
